* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  outline: none;
  border: none;
  box-sizing: border-box;
}

body {
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
}

html {
  font-size: 62.5%;
  @include responsive(1300px) {
    font-size: 58%;
  }
  @include responsive(1200px) {
    font-size: 55%;
  }
  @include responsive(991px) {
    font-size: 62.5%;
  }
}

html,
body {
  height: 100%;
  overflow-x: hidden;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
