html {
  font-size: 62.5%;
  @include responsive(1300px) {
    font-size: 58% !important;
  }
  @include responsive(1200px) {
    font-size: 55% !important;
  }
  @include responsive(991px) {
    font-size: 62.5% !important;
  }
}

html,
body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
