<main>
    <div class="content-form">
        <mat-expansion-panel #MatExpansionPanelFiltro [expanded]="true">

            <mat-expansion-panel-header>
                <mat-panel-title>
                    <strong>Poi Control</strong>
                </mat-panel-title>
                <mat-panel-description>Filtros</mat-panel-description>
            </mat-expansion-panel-header>

            <p class="welcome">
                Ola 👋. Seja bem vindo ao <strong><i>Poi Control</i> </strong>. Para visualizar informacoes especificas
                utilize
                os filtros abaixo:
            </p>

            <form [formGroup]="formFiltro">
                <section class="fields">

                    <!-- poi -->
                    <mat-form-field appearance="outline">
                        <mat-label>Ponto de interesse</mat-label>
                        <mat-select formControlName="poiId" name="poiId">
                            <mat-option *ngFor="let poi of pois" [value]="poi.id"> {{ poi.id }} - {{ poi.nome }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <!-- placa -->
                    <mat-form-field appearance="outline">
                        <mat-label>Placa</mat-label>
                        <mat-select formControlName="placa" name="placa">
                            <mat-option *ngFor="let placa of placas" [value]="placa">
                                {{ placa }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <!-- data da leitura -->
                    <mat-form-field appearance="outline">
                        <mat-label>Data da leitura</mat-label>
                        <input matInput [matDatepicker]="picker" placeholder="Data da leitura"
                            aria-label="Data da leitura" formControlName="dataLeitura" />
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>

                    <!-- estilo do mapa -->
                    <mat-form-field appearance="outline">
                        <mat-label>Estilo do mapa</mat-label>
                        <mat-select formControlName="mapStyle" name="mapStyle">
                            <mat-option *ngFor="let mapStyle of mapStyles" [value]="mapStyle">
                                {{ mapStyle }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </section>

                <!-- botões de ação -->
                <div class="buttons">
                    <button mat-button color="primary" (click)="redefinirFiltros()">Redefinir filtros</button>
                    <button mat-flat-button color="primary" (click)="visualizarPois()">Visualizar</button>
                </div>
            </form>

            <!-- overlay -->
            <div class="card-overlay" *ngIf="loading">
                <mat-spinner strokeWidth="2" diameter="50"></mat-spinner>
            </div>
        </mat-expansion-panel>
    </div>

    <!-- Map container -->
    <div id="map"></div>

    <!-- totalizadores dos POIs -->
    <div class="poi-table">
        <mat-expansion-panel [expanded]="true">

            <mat-expansion-panel-header>
                <mat-panel-title>
                    <strong>Resumo dos POI's</strong>
                </mat-panel-title>

                <mat-panel-description>
                </mat-panel-description>
            </mat-expansion-panel-header>

            <!-- tabela -->
            <table mat-table [dataSource]="dataPoiTable" *ngIf="dataPoiTable.length > 0" class="mat-elevation-z8">

                <!-- id -->
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef>ID POI</th>
                    <td mat-cell *matCellDef="let poi">{{ poi.id }}</td>
                </ng-container>

                <!-- nome -->
                <ng-container matColumnDef="nome">
                    <th mat-header-cell *matHeaderCellDef>Nome</th>
                    <td mat-cell *matCellDef="let poi">{{ poi.nome }}</td>
                </ng-container>

                <!-- latitude -->
                <ng-container matColumnDef="latitude">
                    <th mat-header-cell *matHeaderCellDef>Latitude</th>
                    <td mat-cell *matCellDef="let poi">{{ poi.latitude }}</td>
                </ng-container>

                <!-- longitude -->
                <ng-container matColumnDef="longitude">
                    <th mat-header-cell *matHeaderCellDef>Longitude</th>
                    <td mat-cell *matCellDef="let poi">{{ poi.longitude }}</td>
                </ng-container>

                <!-- raio -->
                <ng-container matColumnDef="raio">
                    <th mat-header-cell *matHeaderCellDef>Raio em metros</th>
                    <td mat-cell *matCellDef="let poi">{{ poi.raio }}</td>
                </ng-container>

                <!-- veículos distintos no POI -->
                <ng-container matColumnDef="veiculos">
                    <th mat-header-cell *matHeaderCellDef>Veiculos distintos no POI</th>
                    <td mat-cell *matCellDef="let poi">{{ poi.veiculos.length }}</td>
                </ng-container>

                <!-- tempo total dos veículos -->
                <ng-container matColumnDef="totalizadorPoi">
                    <th mat-header-cell *matHeaderCellDef>Tempo total dos veiculos no POI</th>
                    <td mat-cell *matCellDef="let poi">
                        {{ poi.totalizadorPoi.tempo_total_dia_veiculos }} dia(s),
                        {{ poi.totalizadorPoi.tempo_total_hora_veiculos }} hora(s) e
                        {{ poi.totalizadorPoi.tempo_total_minuto_veiculos }} minuto(s)
                    </td>
                </ng-container>

                <!-- posicionar no mapa -->
                <ng-container matColumnDef="verNoMapa">
                    <th mat-header-cell *matHeaderCellDef>Posicionar no mapa</th>
                    <td mat-cell *matCellDef="let poi">
                        <button mat-mini-fab color="primary" (click)="abrirLocalizacaoMapa(poi)">
                            <mat-icon>my_location</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <!-- memória de cálculo -->
                <ng-container matColumnDef="verDadosMemoriaCalculo">
                    <th mat-header-cell *matHeaderCellDef>Memória de calculo</th>
                    <td mat-cell *matCellDef="let poi">
                        <button mat-mini-fab color="accent" (click)="abrirDialogMemoriaCalculo(poi)">
                            <mat-icon>restore</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
        </mat-expansion-panel>
    </div>
</main>